* {
  margin:0;
}
/* detail specs -left */
.detail-wrap {
  position: fixed;
  left:0;
  top:50%;
  transform: translate(0,-50%);
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: row;
}
.detail-title {
  margin-bottom:20px;
  font-weight: bold;
  font-size:20px;
}
.detail {
  width:fit-content;
  height:fit-content;
  padding: 40px;
  background-color: white;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 3px 3px 7px #dadada;
}
.detail-tag {
  width:105px;
  height:fit-content;
  padding:20px;
  background-color: #60CFFF;
  color:white;
  font-weight: bold;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  transform: rotate(90deg);
  bottom:50%;    
  position: absolute;
  right:-100px;  
  cursor: pointer;
}
.detail-item {
  border-radius: 15px;
  padding-top:5px;
  padding-bottom:5px;
  transition: 200ms ease-in-out;
}
.detail-item:hover {
  background-color: rgb(255, 225, 230);    
  transition: 200ms ease-in-out;

}
.detail-item > i {
  color:#60CFFF;
  margin-right:10px;
}